body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
  .background {
    background-color: black;
    background-blend-mode: darken;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(5px);
    min-height: 800px;
  
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 500px;
    margin: 10vh auto;
    background: transparent;
    box-shadow: 0 0 05px rgb(135, 1, 252);
    border-radius: 25px;
  }
  h2 {
    font-size: 30px;
    color: white
  }
  
  form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 85%;
  }
  .form-item {
    display: flex;
    width: 90%;
    background: transparent;
    margin: 10px auto;
    border-radius: 15px;
    align-items: center;
    border-bottom: 1px solid rgb(135, 1, 252);
  }
  .form-item:hover {
    border: 1px solid rgb(135, 1, 252);
  }
  input {
    background: transparent;
    width: 80%;
    height: 30px;
    outline: none;
    border: none;
    margin: auto;
    color: white;
    font-size: 17px;
  }
  
  span {
    user-select: none;
    margin: 5px;
    color: rgb(172, 172, 172);
    background: rgba(85, 81, 81, 0.637);
    padding: 5px;
    border-radius: 18px;
  }
  button{
    width: 180px;
    font-size: 20px;
    margin: 10px auto;
    padding: 8px;
    background: rgba(122, 123, 116, 0.72);
    border: none;
    color: white;
    background: transparent;
    box-shadow: 0 0 05px rgb(135, 1, 252);
    border-radius: 25px;
    transition: all 0.7s ease;
    cursor: pointer;
  }
  button:hover {
    background: rgb(135, 1, 252);
  }
  
  p:first-of-type {
    margin: 0;
  }
  .options {
    display: flex;
    margin: 10px auto;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  p {
    font-size: 18px;
    margin: 5px;
  }
 
  
  @media screen and (max-width: 550px) {
    .container {
      width: 90%;
    }
  }
  .foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  
